*.crf
*.o
*.d
MDK-ARM/ball-thrower/ball-thrower.*
MDK-ARM/ball-thrower.uvguix.ahuba
MDK-ARM/EventRecorderStub.scvd
MDK-ARM/JLinkLog.txt
MDK-ARM/ball-thrower/ExtDll.iex
MDK-ARM/JLinkLog.txt
MDK-ARM/EventRecorderStub.scvd
MDK-ARM/ball-thrower.uvguix.sadchi
